body{
    background-color: #051D3B;
    font-family: 'Inter';
}

.cabecalho{
    width: 95%;
    height: 56px;
    margin: 2em;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.input-padrao{
    border: 1px hidden;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    color: white;
    padding-left: 10px;
    height: 56px;
}

.cabecalho-pesquisa{
    width: 750px;
}

::placeholder{
    color:white;
    margin-left: 14px;
    opacity: 64%;
}

.cabecalho-perfil{
    width: 106px;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    
}

.container-main{ 
    display: flex; 
    justify-content: space-between;  
    width: 95%;
    margin: 3em auto;
}

.menuPrincipal{
    color: white;
    width: 190px;
    height: 150px;
}

.menuPrincipal-titulo{
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.menuPrincipal-item{
    display:flex;
    align-items: center;
    justify-content:flex-start;
    margin-bottom: 1em;
}

.menuPrincipal-item:hover{
    opacity: 16%;
    transition: 450ms;
}

.menuPrincipal-item-img{
    border: 1px hidden black;
    border-radius: 16px;
    padding: 15px 13px;
    background-color: #5081FB;
}

.menuPrincipal-item-texto{
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.menuPrincipal-item:local-link(){
    opacity: 50%;
}

.infoProjeto{
    width: 272px;
    display: flex;
    flex-direction: column;
}

.infoProjeto-titulo{
    color: white;
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
}

.infoProjeto-descricao{
    margin-top: 1em;
    font-family: 'Inter';
    resize: none;
    padding: 1em 2.5em 1em 1em;
}